<div class="container loginContainer">
  <div class="row">
    <div class="col-sm-6 ">
      <div class="card text-center ">
        <div class="card-header bg-primary">
          <h3>Login</h3>
        </div>
        <div class="card-body">
          <form action="" method="POST" name="signup" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div *ngIf="invalidLogin" class="alert alert-danger">Username or password is incorrect</div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="material-icons">email</i></div>
                </div>
                <input type="email" formControlName="email" [appInputFormat]="'lowercase'" class="form-control my-input"
                  id="email" placeholder="Email" [ngClass]="{ 'is-invalid' :submitted && email.errors }">
              </div>
              <div *ngIf=" submitted && email.errors" class="alert alert-danger">
                <div *ngIf="email.errors.required">Email is required</div>
                <div *ngIf="email.errors.email">Invalid Email</div>
                <div *ngIf="email.errors.maxlength">Email must't be more than {{ email.errors.maxlength.requiredLength
                  }} characters</div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="material-icons">lock</i></div>
                </div>
                <input type="password" formControlName="password" class="form-control my-input" id="password"
                  placeholder="Password" [ngClass]="{ 'is-invalid' :submitted && password.errors }">
              </div>
              <div *ngIf=" submitted && password.errors" class="alert alert-danger">
                <div *ngIf="password.errors.required">Password is required</div>
                <div *ngIf="password.errors.maxlength">Password must't be more than {{
                  password.errors.maxlength.requiredLength
                  }} characters</div>
                <div *ngIf="password.errors.minlength">Password must be at least {{
                  password.errors.minlength.requiredLength }} characters</div>
              </div>
            </div>
            <div class="form-group text-center ">
              <button type="submit" class="btn btn-primary submit-btn">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
