<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top  justify-content-between">
  <!-- put a logo here -->
  <a routerLink="[/]" class="navbar-brand col-sm-2">
    BookIt
    <button class="navbar-toggler float-right  my-1" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
  </a>

  <div class="search-section col-sm-6">
    <span class="autocomplete-panel">
      <input id="inputlg" type="search" placeholder="Search Movies" class="form-control input-lg" size="50">
    </span>
  </div>

  <div class="col-sm-4" id="navItems">
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto ">
        <li class="nav-item">
          <a href="#movies" class="nav-link">Movies</a>
        </li>
        <li class="nav-item">
          <a href="#offers-head-section" class="nav-link">Offers</a>
        </li>
        <li class="nav-item">
          <a routerLink="/login" class="nav-link" >Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
  $(document).ready(function () {
    var is_web_view = false;

    if (is_web_view) {
      $('.navbar-toggler').css('display') = none;
    } else {

    }

  });

</script>
