* {
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Karla', sans-serif;
}

body {
  background: #333;
  color: #fff;
}

.nav-wrapper {
  max-width: 100%;
  z-index: 1;
  left: 20px;
  text-align: center;
}

nav {
  overflow: hidden;
  opacity: 0.8;
  border-bottom: 0;
}

#searchBar {
  background: #fff;
  padding-bottom: 10px;
}

#navbarCollapse {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.titleBar {
  margin-top: 100px;
  color: orangered;
}


.card {
  max-width: 100%;
  height: 300px;
  float: left;
  border: none;
  margin: 10px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
  outline: 0;
}

.card:hover {
  background: #fff;
  opacity: 0.7;
  transition: all 0.3s ease;
}

.card-img-top {
  height: 100%;
  max-width: 100%;
}

.card-body {
  height: 50px;
  background: #fff;
  color: black;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.card-title {
  text-align: center;
}
