<div class="container">
  <div class="row">
    <div class="col-sm-6 ">
      <div class="card">
        <div class="card-header bg-primary text-center">
          <h3>Sign Up</h3>
        </div>
        <div class="card-body">
          <form method="POST" class="" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class=" material-icons">face</i>
                  </div>
                </div>
                <input type="text" formControlName="username" [appInputFormat]="'lowercase'" class="form-control my-input"
                  id="username" placeholder="Name" [ngClass]="{ 'is-invalid' :submitted && username.errors }">
              </div>
              <div *ngIf=" username.touched && username.invalid" class="">
                <div *ngIf="username.errors.required">Name is required</div>
                <div *ngIf="username.errors.minlength">Name must be min {{ username.errors.minlength.requiredLength }}
                  characters</div>
                <div *ngIf="username.errors.maxlength">Name must't be more than {{
                  username.errors.maxlength.requiredLength }} characters</div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="material-icons">email</i></div>
                </div>
                <input type="email" formControlName="email" [appInputFormat]="'lowercase'" class="form-control my-input"
                  id="email" placeholder="Email" [ngClass]="{ 'is-invalid' :submitted && email.errors }">
              </div>
              <small *ngIf="email.pending">checking for Uniqueness...</small>
              <div *ngIf="email.touched && email.invalid" class="">
                <div *ngIf="email.errors.required">Email is required</div>
                <div *ngIf="email.errors.email">Invalid Email</div>
                <div *ngIf="email.errors.maxlength">Email must't be more than {{ email.errors.maxlength.requiredLength
                  }} characters</div>
                <div *ngIf="email.errors.unique">Email already exists</div>
              </div>
            </div>
            <div [formGroup]="passwordForm">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="material-icons">lock</i></div>
                  </div>
                  <input type="password" formControlName="password" class="form-control my-input" id="password"
                    placeholder="Password" [ngClass]="{ 'is-invalid' :submitted && password.errors }">
                </div>
                <div *ngIf="password.touched && password.invalid" class="">
                  <div *ngIf="password.errors.required">Password is required</div>
                  <div *ngIf="password.errors.maxlength">Password must't be more than {{
                    password.errors.maxlength.requiredLength
                    }} characters</div>
                   <div *ngIf="password.errors.minlength">Password must be at least {{ password.errors.minlength.requiredLength }} characters</div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="material-icons">lock</i></div>
                  </div>
                  <input type="password" formControlName="confirm_password" class="form-control my-input" id="confirm_password"
                    placeholder="Confirm password" [ngClass]="{ 'is-invalid' :submitted && confirm_password.errors?.notMatch }">
                </div>
                <div *ngIf="confirm_password.touched " class="alert alert-warning">
                  <div *ngIf="confirm_password.errors?.notMatch == true; then password_not_match else password_match"></div>
                  <ng-template #password_not_match>Password do not Match</ng-template>
                  <ng-template #password_match>Password Match</ng-template>
                </div>
              </div>
            </div>
            <div class="form-group text-center ">
              <button type="submit" class="btn btn-primary submit-btn">Sign Up</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
