<div class="container">
  <div id="loginForm" class="card align-middle">
    <div class="card-header bg-info text-center">
      <span>
          <i class="material-icons md-48">account_circle</i>
          <h3 class="text-center">Login</h3>
      </span>
    </div>
    <!-- admin login form -->
    <form action="" method="POST" name="login" [formGroup]="adminLogin">
      <div class="card-body">
        <div class="form-group">
          <label for="email">Email</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="material-icons">email</i></div>
            </div>
            <input type="email" id="email" formControlName="email" [appInputFormat]="'lowercase'" class="form-control my-input" id="email"
              placeholder="Email">
          </div>
          <small *ngIf="email.pending">checking for Uniqueness...</small>
          <div *ngIf="email.touched && email.invalid" class="alert alert-warning">
            <div *ngIf="email.errors.required">Email is required</div>
            <div *ngIf="email.errors.email">Invalid Email</div>
            <div *ngIf="email.errors.maxlength">Email must't be more than {{ email.errors.maxlength.requiredLength
              }} characters</div>
            <div *ngIf="email.errors.unique">Email already exists</div>
          </div>
        </div>
        <!-- for password -->
        <div class="form-group">
          <label for="password">Password</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="material-icons">lock</i></div>
            </div>
            <input type="password" id="password" formControlName="password" class="form-control my-input" id="password" placeholder="Password">
          </div>
        </div>

      </div>
      <footer class="footer">
        <div class="form-group text-center ">
          <button type="submit" class="btn btn-info submit-btn">Sign Up</button>
        </div>
      </footer>
    </form>
  </div>
</div>
